@import "./reset.css";

body {
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: row;

  margin-left: 679px;
}

.top .top__col1 {
  width: 800px;
  height: 100px;

  background-color: aquamarine;
}

.main {
  display: flex;
  flex-direction: row;
}

.main .main__col1 {
  width: 680px;
  height: 90vh;

  background-color: bisque;
}

.main .main__col2 {
  width: 380px;
  height: 90vh;

  background-color: blue;
}

.main .main__col3 {
  width: 380px;
  height: 90vh;

  background-color: khaki;
}
