@import "./reset.css";

body {
  overflow: hidden;
}

.top .top__col1 {
  width: 600px;
  height: 100px;

  background-color: aquamarine;

  display: flex;
}

.main {
  display: flex;
  flex-direction: row;
}

.main .main__col1 {
  width: 800px;
  height: 90vh;

  background-color: bisque;
}
